.lateral{
    background-color: #8b8b8b;
    height: 91vh;
    padding-top: 3vh;
}
.tamanho{
    width: 100%;
}
.col-md-9{
    height: 90vh;
}
mat-card-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}